 <form id="my-sample-form" onSubmit={this.handleSubmit}>
      <div className="input-group input-group-lg">
         <label for="card-number">Card Number</label>
        <input
          className="form-control"
          type="text"
          name="card-number"
          placeholder="4111111111111111"

        />
         <label for="card-number">Expiration Date</label>
         <input
          className="form-control"
          type="text"
          name="expiration-date"
          placeholder="09/18"

        />

        <label for="card-number">Security Code</label>
         <input
          className="form-control"
          type="text"
          name="cvv"
          placeholder="123"

        />
           <label for="card-number">Zipcode</label>
         <input
          className="form-control"
          type="text"
          name="postal-code"
          placeholder="60018"

        />
        <span className="input-group-btn">
          <button className="btn btn-default" type="submit" id="submit-button">Pay</button>
        </span>
      </div>
    </form>

<!-- Load the required client component. -->
<script src="https://js.braintreegateway.com/web/3.40.0/js/client.min.js"></script>

<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.40.0/js/hosted-fields.min.js"></script>

<script>
  var button = document.getElementById('submit-button');
  var form = document.getElementById('my-sample-form')

    var clientInstance = braintree.client.create({
        authorization: 'sandbox_7smphwzv_ds7p8v5crrrkrygr'
      }, function (clientErr, clientInstance) {
        if (clientErr) {
          console.error(clientErr);
          return;
        }
        var options = {
          client: clientInstance
        }


 var hostedFieldsInstance = braintree.hostedFields.create(options, {
    client: options.client,
    styles: {
      'input': {
        'font-size': '14px',
        'font-family': 'helvetica, tahoma, calibri, sans-serif',
        'color': '#3a3a3a'
      },
      ':focus': {
        'color': 'black'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationMonth: {
        selector: '#expiration-month',
        placeholder: 'MM'
      },
      expirationYear: {
        selector: '#expiration-year',
        placeholder: 'YY'
      },
      postalCode: {
        selector: '#postal-code',
        placeholder: '90210'
      }
    }
  }, function (options, err, hostedFieldsInstance) {
    if (err) {
      console.error(err);
      return;
    }

      })
          //submit.removeAttribute('disabled');
          form.addEventListener('submit', function (event) {
            event.preventDefault();

            {{!-- hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
              if (tokenizeErr) {
                console.error(tokenizeErr);
                return;
              } --}}


              console.log('Got a nonce: ' + payload.nonce);
              res.send(payload.nonce)

                document.querySelector('#nonce').value = payload.nonce;
          form.submit();
            });
          }, false);



</script>
